body {
    background-color: #141516; /*just a random bg*/
    /* background-image: url(images/BG.png); */
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

main {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    padding-top: 120px;
    padding-left: 240px;
    padding-right: 240px;
    text-decoration: none;
}

.buttons {
    text-align: center;
    margin-top: 10px;
}

form {
    display: flex;
    display:inline-block;
}
.action {
    align-items: center;
}
.btn {
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family:'Rubik', sans-serif;
    cursor: pointer;
    margin: 10px;
    transition: 1.4s;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
  }
  .btn1,.btn2 {
    color: #3498db;
  }
  .btn3,.btn4{
    color: #3498db;
  }
  .btn1:hover,.btn2:hover{
    color: #fff;
  }
  .btn3:hover,.btn4:hover{
    color: #fff;
  }
  .btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
  }
  .btn1::before,.btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
  }
  .btn2::before,.btn4::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
  }
  .btn3::before,.btn4::before{
    height: 0%;
  }
  .btn1:hover::before,.btn2:hover::before{
    height: 180%;
  }
  .btn3:hover::before,.btn4:hover::before{
    height: 180%;
  }

h1 {
    font-size: 60px;
    color: azure;
}

p {
    font-size: 20px;
    color: azure;
}

a {
    color: azure;
    text-decoration: red;
}