/* html {
    height: 100%;
} */

body {
    background-color: #141516; /*just a random bg*/
    /* background-image: url(images/BG.png); */
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

/* header {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.062);
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 14px;
    padding-bottom: 14px;
    color: azure;
    text-align: center;
}

header a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
} */

main {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
    text-decoration: none;
}

main a {
    text-decoration: underline;
}

footer {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.048);
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 14px;
    padding-bottom: 14px;
    color: azure;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-size: 60px;
    color: azure;
}

p {
    font-size: 20px;
    color: azure;
}

a {
    color: azure;
    text-decoration: red;
}